@model WebApp.Models.InputTxt
@{
    ViewBag.Title = "Index";
}

<script src="~/scripts/frontPage.js"></script>
<script src="~/scripts/audioRecord.js"></script>
<script src="~/scripts/recorder.js"></script>

<div class="main">
    <section class="company-heading intro-type" id="parallax-one">
        <div class="container jumbo">
            <div class="jumbotron" style="padding-bottom: 308px;padding-top: 137px;background-color: #000000">
                <h1>Digital Incentives</h1><h2>for Retail Receipts</h2><br /><br />
                <div class="col-md-12">
                    @*<a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="~/Images/arrow-down2.png"></a>*@
                    <div>
                        <a class="btnupload-scroll" href="#section2"><img alt="Upload Icon" src="~/Images/arrow-upload-icon.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>