@model List<WebApp.Models.MatchedProduct>

@{
    ViewBag.Title = "[] Digital Incentives []";
}


<script src="~/scripts/SequenceDg.js"></script>
<link href="~/Content/SequenceDg.css" rel="stylesheet" />
<link href="~/Content/logo.css" rel="stylesheet" />
<br />
<div>
    <span id="btnHomeButton" onclick="NavigateToHome()">
        <img src="~/Images/Home-icon.png" style="width: 65px;height: 65px; right:24px;position: absolute;top: 20px;" class="custom-thumbnail" />
    </span>
</div>
<div>
    <span class="tag-wrap">
        <span class="tag">
            Digital Incentives
        </span>
    </span>
    <br /><br /><br />
</div>

<br /><br />